# python quick shot
 - divion in python

if we want only integer then  we use

In [1]:
print(5//3)

1

In [2]:
# for -ve numbers it works like 
print(-43/3)

-14.333333333333334

In [ ]:
# but if we want  single complete quotient = but it round towrd lower(more smsller) value 
print(-43//3
      )
# if we want to print the rounding toward lower or floor value then
print(int(-43/3))

-15
-14

In [ ]:
# we mod -ve values it gives positive answer 
print(-13%4) #it gives wrong value because of it includes 0 and -13 
print(13//4)
print(13%4) #in this case it dont include he 0

# but if we want the negative value then we need to import the ,math functions 
import math 
print(math.fmod(-13,4)) # give the -ve value and the number we want to devide

3
3
1
-1.0

In [9]:
# more math helper functions
print(math.floor(3/2))
print(math.ceil(3/2))
print(math.sqrt(5))
print(math.pow(2,3)) # 3 power of 2  or 2**3

1
2
2.23606797749979
8.0

In [13]:
# if  we need maximum integer then we can use 
float('inf') # means +infinity
float('-inf') # means -ve infinity
# Actually in python numbers are infinite so they never overflow 
import math
print(math.pow(2,200)) # its very large but stilll it is less thatn infinity 

print(math.pow(2,300)< float('inf'))

1.6069380442589903e+60
True

In [14]:
# arrays are the list in pyhtn and these are dynamic array 
array = [1,2,3,4,5,6,7,4,3,3]
print(array)

[1, 2, 3, 4, 5, 6, 7, 4, 3, 3]

In [15]:
# also stack is also the list  means we can use the above array as the stack
arr = array
arr.append(40)

arr.append(90)
print(arr)

[1, 2, 3, 4, 5, 6, 7, 4, 3, 3, 40, 90]

In [16]:
arr.pop()
print(arr)  # it will pop the last lement same as stack

[1, 2, 3, 4, 5, 6, 7, 4, 3, 3, 40]

In [ ]:
# we can also pop the middle elemnt means these are list overall  & insert at the middle s
arr.pop(5)
print(arr)
arr.insert(0,30) # this operation is O(n)
print(arr)

[1, 2, 3, 4, 5, 4, 3, 3, 40]
[30, 1, 2, 3, 4, 5, 4, 3, 3, 40]

In [20]:
# but indexing is  O(1) operation in list 
arr[7]
# even we can change the value at any index in O(1)
arr[7] = 45
print(arr)

[30, 1, 2, 3, 4, 5, 4, 45, 3, 40]

In [22]:
 # we can initialixe the arrr of size n with default value of 1
n=5

arr = [1]*n
print(arr)
print(len(arr))

[1, 1, 1, 1, 1]
5

In [24]:
# carefull when indexing the array  when -ve values because these are list overall 
print(arr[-2]) # it will [print the last 2nd values]

1

In [ ]:
# Slicing of the list  meas substring is very easy in py
arr = [1,2,3,4,5,6,43,22,11,45]
print(arr[2:4]) # it will sice the array from 2 to 4th index but not include 4th index 
print(arr[45:4:-1]) # while this means that the array is start from the 45 and pull out he 4 values and in -1 reverse order

[45, 11, 22, 43, 6]

In [28]:
# unpacking 
# we can assign the value to variables as list 
a,b,c,f,s,e = 2,3,4,5,6,4
print(c) # but the vlues should be same as variables 
print(f)

4
5

In [37]:
# we can loop thorugh the array in mulltiple ways because they are list dude 
print(arr)
for i in range (len(arr)):
    print(arr[i]*-1,arr[i*-1],arr[i])
# if we wnat to do it without useing the index
for n in arr:
    print(n)

[1, 2, 3, 4, 5, 6, 43, 22, 11, 45]
-1 1 1
-2 45 2
-3 11 3
-4 22 4
-5 43 5
-6 6 6
-43 5 43
-22 4 22
-11 3 11
-45 2 45
1
2
3
4
5
6
43
22
11
45

In [38]:
# or we can do it wiht enumerate funciton
for i, n in enumerate(arr): # it willl give te index a=and the second vallue 
    
    print(i,n)

0 1
1 2
2 3
3 4
4 5
5 6
6 43
7 22
8 11
9 45

In [39]:
# if we want to iterate though multip;e array /list simultaneoulsy then we use zip fuc
num1 = [1,2,3,4,5,5]
num2 = [0,8,7,6,5,4]
# zip will combine them and pack them in one list 
for n1, n2 in zip(num2,num1):
    print(n1,n2)

0 1
8 2
7 3
6 4
5 5
4 5

In [ ]:
 # soriting  = use timsort algo in backend 
print(arr)

arr.sort()
print(arr)
# for reverse 
arr.sort(reverse = True)
print(arr)
#
# or we can use this method to reverse thearrry

print(arr[::-1])

[45, 43, 22, 11, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 11, 22, 43, 45]
[45, 43, 22, 11, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 11, 22, 43, 45]

In [ ]:
# we can sort the list of anythong 
# but if we want to sort the list of string in size scale // custom sort 
# then we need to implement the lambda funcion

In [46]:
# STRING  
name = 'Mohit Rao'
print(name[0:4]) # we can do operation on the string same as on tuples because these both are immutable

Mohi

In [52]:
# updating the stiring create a new string and it take O(N)
# we can changes nums to string and string to nums using type conversion 
print(str(112)+str(554))

print(''.join(['ab',str(5),'kab','jaoge']))

112554
ab5kabjaoge

In [56]:
# ques  are dounbly endded ques 
from collections import deque
q = deque()
q.append(1)
q.append(45)
print(q)
q.appendleft(4)
q.appendleft(5)
q.append(90)
print(q)
q.pop()
print(q)
q.popleft()

print(q)
q.pop()
print(q)

deque([1, 45])
deque([5, 4, 1, 45, 90])
deque([5, 4, 1, 45])
deque([4, 1, 45])
deque([4, 1])

In [ ]:
# in python both are same or one dict() = hasmap ; but set is different
sets : https://www.w3schools.com/python/python_sets.asp

### Set
- Sets are used to store multiple items in a single variable.

- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

- A set is a collection which is unordered, unchangeable*, and unindexed.
- Note: Set items are unchangeable, but you can remove items and add new items.
- Set items are unchangeable, meaning that we cannot change the items after the set has been created.
-Once a set is created, you cannot change its items, but you can remove items and add new items.
-  The values True and 1 are considered the same value in sets, and are treated as duplicates:
- Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:
- To determine how many items a set has, use the len() function.
- 
- A set can contain different data types:
-It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

thisset = {"apple", "banana", "cherry"}

print(len(thisset))
# set constructer
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

### There are four collection data types in the Python programming language:

1. List is a collection which is ordered and changeable. Allows duplicate members.
2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3. Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4. Dictionary is a collection which is ordered** and changeable. No duplicate members.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.**
1. d = dict();  t is also possible to use the dict() constructor to make a dictionary.
2. d ={}
- Dictionary items are ordered, changeable, and do not allow duplicates.
- it means that the items have a defined order, and that order will not change.
- Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
- The values in dictionary items can be of any data type:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])